.results-container{
    margin-top: 5px;
    .product_list li .list_item{
        display: flex;
        background: #ffffff;
        padding: 30px;
        margin-bottom: 2px;
        border-radius: 3px;
        .details{
            display: flex;
            flex-direction: column;
            width: 700px;
            h2{
                font-size: 18px;
                font-weight: normal;
                order: 1;
            }
            .price{
                margin-bottom: 20px;
            }
        }
        .thumb-container{
            margin-right: 18px;
            width: 90px;
            img{
                width: 100%;
            }
        }
        .shipping{
            color: #00a650;
            font-size: 14px;
        }
    }
}