@import '../../assets/styles/colors';

.results-container{
    .product_list li .list_item{
        display: flex;
        background: $white;
        padding: 16px;
        margin-bottom: 2px;
        border-radius: 3px;
        .details{
            display: flex;
            flex-direction: column;
            width: 70%;
            h2{
                font-size: 18px;
                font-weight: normal;
                order: 1;
            }
            .price-box{
                display: flex;
                margin-top: 16px;
                .price{
                    margin-bottom: 32px;
                }
                .shipping{
                    width: 18px;
                    height: 18px;
                    margin-left: 8px;
                    position: relative;
                    top: 2px;
                }
            }
        }
        .city{
            font-size: 12px;
        }
        .thumb-container{
            margin-right: 16px;
            width: 180px;
            height: 180px;
            img{
                width: 100%;
                border-radius: 4px;
            }
        }
    }
}