@import '../../assets/styles/colors';

.category_path{
    display: flex;
    padding: 16px 0;
    li{
        list-style: none;
        color: $grey_2;
        margin: 0 5px;
        font-size: 14px;
        &:before{
            content: '=> ';
        }
    }
    li:first-child{
        margin-left: 0;
    }
    li:first-child:before{
        content: '';
    }
}